* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "VT323", sans-serif;
  image-rendering: pixelated;

}

body {
  width: 100%;
  min-height: 110vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(img/agua-pixelada.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  gap: 40px;
  touch-action: manipulation;
}
/*=========================================================
          BOTAO DOS PONTOS
===========================================================*/
.botaoPescar {
  height: 290px;
  width: 290px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  background-color: transparent;
  border: none;
 -webkit-tap-highlight-color: transparent;/*REMOVE CAIXA AZUL DO MOBILE*/
 outline: none;/*GARANTE QUE NENHUMA BORDA APAREÇA*/
  cursor: pointer;
  transition: transform 0.2s ease;
  transform: scale(1.08);
}

.botaoPescar:hover {
  transition: transform 0.2s ease;
  transform: scale(0.98);
}

.botaoPescar:active {
  transition: transform 0.02s ease;
  transform: scale(0.90);
}

.melhoriasbtn {
  height: 100px;
  width: 150px;
  font-size: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 20px;
  cursor: pointer;
  background-image: url(img/botao-bolhas.png);
  background-repeat: no-repeat;
  background-size: 100% ;
  border:none;

  outline: none;

  transition: transform 0.2s ease-in-out;
  transform: scale(0.95);
}

.melhoriasbtn:hover {
  transition: transform 0.2s ease;
  transform: scale(0.90);
}

.melhoriasbtn:active {
  transition: transform 0.2s ease;
  transform: scale(0.85);
}

h1{
display: flex;
align-items: center;
justify-content: center;
margin: 10px;
font-size: 40px;
}

h2{
  display: flex;
align-items: center;
justify-content: center;
margin: 10px;
font-size: 30px;
}