* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "VT323", sans-serif;
  image-rendering: pixelated;

}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(img/agua-pixelada.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  gap: 40px;
}

.botaoPescar {
  height: 290px;
  width: 290px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  background: transparent;

  cursor: pointer;
  transition: transform 0.2s ease;
  transform: scale(1.08);
}

.botaoPescar:hover {
  transition: transform 0.2s ease;
  transform: scale(0.95);
}

.botaoPescar:active {
  transition: transform 0.2s ease;
  transform: scale(0.90);
}

.melhoriasbtn {
  height: 100px;
  width: 150px;
  font-size: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 20px;
  cursor: pointer;
  transition: transform 0.2s ease;
  transform: scale(0.95);
}

.melhoriasbtn:hover {
  transition: transform 0.2s ease;
  transform: scale(0.95);
}

.melhoriasbtn:active {
  transition: transform 0.2s ease;
  transform: scale(0.95);
}